.home-section {
	background: #EAE2B7;
	display: flex;
	align-items: center;
	justify-content: center;

	@media screen and (min-width: 620px) {
		background: #114B5F;
		padding: 30px;
	}

	.content-wrapper {
	  	position: relative;
	  	box-sizing: border-box;
	  	padding: 110px 30px 30px 30px;
		max-width: 980px;
		width: 100%;

		@media screen and (max-width: 520px) {
		  padding: 30px 20px;
		}

	  	.catena-logo {
		  width: 90%;
		  max-width: 400px;
		  margin: 0 0 40px 0;

		  @media screen and (min-width: 520px) {
			position: absolute;
			top: 30px;
			left: 30px;
			margin: 0;
			max-width: 220px;
		  }
		}

		h1 {
		  @media screen and (min-width: 520px) {
			position: absolute;
			top: 33px;
			right: 30px;
			margin: 0;
		  }
		}


	  	.main-description {
		  display: flex;
		  justify-content: space-evenly;
		  align-items: center;
		  margin: 0 auto 30px auto;
		  width: 100%;

		  @media (max-width: 800px) {
			display: block;
		  }

		  .description {
			max-width: 340px;
			width: 100%;

			@media (max-width: 800px) {
			  margin: 0 auto 20px auto;
			}

			p {
			  display: block;
			  text-align: center;
			  margin: 0 auto;
			}
		  }
		  .welcome-window {
			margin-left: 30px;

			@media (max-width: 800px) {
			  margin: 0 auto;
			}

			img {
			  display: block;
			  width: 100%;
			  max-width: 440px;
			  margin: 0 auto;
			}
		  }
		}

		.buttons {
			display: flex;
			flex-direction: column;
			width: 100%;

			@media screen and (min-width: 520px) {
				flex-direction: row;
			}

			.btn {
			  margin: 0;
			  background: #EAE2B7;
			  border: 3px solid #114B5F;
			  color: #114B5F;
			  border-radius: 10px;

			  &:hover {
				border-color: #858068;
				color: #858068;
			  }

			  &.submit {
				max-width: 340px;
				width: 100%;

				@media (max-width: 520px) {
				  margin: 20px auto 0 auto;
				}

			  }

			  &.video {
				background: #114B5F;
				color: #EAE2B7;
				display: block;
				width: 100%;
				margin: 0 0 0 20px;

				&:hover {
				  background: lighten(#114B5F, 5%);
				}

				@media (max-width: 520px) {
				  margin: 20px auto 0 auto;
				}
			  }
			}
		}
	}

	&.is-hidden {
		display: none;
	}
}

.upload-section {
	background: #EAE2B7;
	display: flex;
	align-items: center;
	justify-content: center;

	@media screen and (min-width: 620px) {
		background: #114B5F;
		padding: 30px;
	}

	&.is-hidden {
		display: none;
	}

	.content-wrapper {
		p {
			text-align: center;

			@media screen and (min-width: 620px) {
				max-width: 70%;
			}
		}

	  #upload-guide {
		margin-top: 20px;

		ul {
		  li {
			display: block;
			margin: 15px;

			p {
			  margin: 0 auto;

			  img {
				display: block;
				margin: 20px auto;
			  }
			}
		  }
		}
	  }

		.form {
			margin: 30px 0 0 0;
			width: 100%;

			@media screen and (min-width: 620px) {
				max-width: 90%;
			}

			label {
				font-family: 'Merriweather Sans', sans-serif;
				font-size: 16px;
				font-weight: bold;
				margin: 10px 20px;
				display: inline-block;
				color: #114B5F;

				&.location {
					margin: 20px 20px 10px 20px;
				}
			}

			input {
				width: 100%;
				box-sizing: border-box;
				background: #F7F3E2;
				border: none;
				border-radius: 10px;
				display: block;
				padding: 18px 20px;
				font-size: 16px;
				font-family: 'Merriweather Sans', sans-serif;
				color: #114B5F;

				&:focus {
					border: none;
					outline: none;
				}
			}
		}

		.buttons {
			display: flex;
			flex-direction: column;
			width: 100%;
			margin: 40px 0 0 0;

			@media screen and (min-width: 520px) {
				flex-direction: row;
			}

			input {
				padding: 15px 30px;
			}

			.btn {
				background: #114B5F;
				color: #EAE2B7;
				display: block;
				width: 100%;

				&:hover {
					background: lighten(#114B5F, 5%);
				}

				&:last-child {
					margin: 20px 0 0 0;
					background: #EAE2B7;
					border: 3px solid #114B5F;
					color: #114B5F;

					@media screen and (min-width: 520px) {
						margin: 0 0 0 20px;
					}

					&:hover {
						border-color: #858068;
						color: #858068;
					}
				}

				&.is-disabled {
					pointer-events: none;
					opacity: .3;
				}
			}

			.file-upload {
				position: relative;
				width: 100%;

				label {
					width: auto;
					margin: 0;
					z-index: 2;
					border: 3px solid #114B5F;

					&:hover {
						border-color: lighten(#114B5F, 5%);
					}
				}

				input {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					padding: 0;
					margin: 0;
					visibility: hidden;
				}
			}
		}
	}
}

.video-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;

	&.is-hidden {
		display: none;
	}

	.message-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		padding: 0 30px;
		background: #EAE2B7;
		height: 100%;

		@media only screen and (min-width: 640px) {
			display: none;
		}

		.content-wrapper {
			padding: 0 20px;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			height: 350px;

			h1 {
				margin: 0;
			}

			img {
				transform-origin: center;
				animation-name: rotate;
				animation-duration: 6s;
				animation-iteration-count: infinite;
				animation-timing-function: ease-in-out;
			}
		}
	}

	.video-wrapper {
		display: none;

		@media only screen and (min-width: 640px) {
			display: block;
		}

		&:before {
			display: block;
			content: "";
			width: 100%;
			height: 150px;
			background: red;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			background: -moz-linear-gradient(top,  rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
			background: -webkit-linear-gradient(top,  rgba(0,0,0,9.8) 0%,rgba(0,0,0,0) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%);
		}

		&:after {
			display: block;
			content: "";
			width: 100%;
			height: 150px;
			background: red;
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 1;
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 3%, rgba(0,0,0,0.9) 100%);
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0.9) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0.9) 100%);
		}

		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 0;
			top: 0;
			left: 0;
		}

		.video-info {
			position: absolute;
			background: #114b5f;
			box-sizing: border-box;
			padding: 20px 40px;
			width: 520px;
			max-width: 90%;
			border-radius: 0 0 10px 0;
			top: 0;
			left: 0;
			z-index: 2;

			.uploader {
				font-family: 'Merriweather', sans-serif;
				font-style: normal;
				font-weight: bold;
				font-size: 34px;
				line-height: 120%;
				color: #ffffff;
				margin: 0 0 5px 0;
			}

			.location {
				display: flex;
				align-items: center;

				img {
					width: 24px;
					margin: 0 10px 0 0;
				}

				span {
					font-family: 'Merriweather Sans', sans-serif;
					font-weight: bold;
					font-size: 18px;
					color: #EAE2B7;
				}
			}
		}

		.buttons {
			width: 100%;
			box-sizing: border-box;
			padding: 0 60px;
			display: flex;
			justify-content: space-between;
			position: absolute;
			left: 0;
			bottom: 40px;
			z-index: 2;

			.btn {
				color: #114B5F;
				background: #EAE2B7;

				&:hover {
					background: darken(#EAE2B7, 10%);
				}
			}
		}
	}
}

@keyframes rotate {
	0%   {
		transform: rotate(30deg);
	}
	50%  {
		transform: rotate(-30deg);
	}
	100% {
		transform: rotate(30deg);
	}
}
